/*Pagination*/
.t-pagination a {
	font-size:12px;
	font-family:Tahoma;
	color:#3293F2;
	text-decoration:none;
	line-height:1.5em;
}
.t-pagination a:hover {
	color:#3594F0;
	text-decoration:underline;
}
.t-pagination.textright{text-align:right}
.t-pagination.textleft{text-align:left}
.t-pagination a{text-decoration:none;color:#3293F2;border:1px solid #d4d4d4;padding:2px 6px 3px}
.t-pagination a:hover{background:dodgerblue;color:#fff;text-decoration:none}
.t-pagination a.current:hover,.t-pagination a.t-pagenull:hover{background:none;color:#464646}
.t-pagination a.current,.t-pagination a.t-pagenull{color:dodgerblue;font-weight:bold;padding:3px 7px 4px;border:none;padding:3px 7px 4px;cursor:text }
.t-pagination a.current:hover{color:dodgerblue}
.t-pagination a.t-pagenull{font-weight:normal;color:#464646}
.t-pagination .t-p-frame{width:1em;height:25px;padding-left:4px;overflow:hidden;display:inline-block;vertical-align:middle}
.t-pagination .t-p-framebelt{display:block;width:9000px}
.t-pagination .t-p-framebelt a,.t-pagination .t-p-framebelt span{display:block;float:left;margin-right:4px;padding:1px 6px;margin-top:1px;*margin-top:2px}


/*--hack for firefox2--*/
.t-pagination .t-p-framebelt, x:-moz-any-link {display:inline;}
.t-pagination .t-p-framebelt, x:-moz-any-link, x:default {display:block;}

.t-pagination .t-p-framebelt a,.t-pagination .t-p-framebelt span,x:-moz-any-link {display:inline;float:none;padding:2px 6px ;}
.t-pagination .t-p-framebelt a,.t-pagination .t-p-framebelt span,x:-moz-any-link, x:default {display:block;float:left;padding:1px 6px;}

.t-pagination .t-p-frame ,x:-moz-any-link  {vertical-align:baseline;}
.t-pagination .t-p-frame ,x:-moz-any-link, x:default {vertical-align:middle;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari 3.0 and Chrome rules here */
	.t-pagination .t-p-framebelt a{padding:0px 6px;}
}
