/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */
html {
	 -webkit-text-size-adjust: 100%;
 }

@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{font-size:14px;font-family:Georgia, "Microsoft YaHei", serif;color:#000000;background-color:#ffffff;}
*{padding:0;margin: 0;border:none;outline:none;}
a{/*color:#dd0000;*/color:#1863A1;text-decoration:none;}
a:hover{/*color:#333333;*/color:#0181EB;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.5em 0;*padding:.4em 0;}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
pre code{margin:1em 0;font-size:13px;font-family:Monaco,monospace;line-height:1.6;display:block;overflow:auto;}
blockquote{display:block;text-align:justify;border-left:4px solid #ddd;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:0;}
#container{width:600px;margin:2em auto;display:block;padding:0 2em;}
.content{font-size:16px;line-height:24px;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}
#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}
.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",sans-serif;}
.listing-seperator{font-weight:bold;}
.meta{text-align:right;font-size:12px;}
header{padding:.5em 0;border-bottom: 1px solid #cccccc;}
nav{font-family:Georgia,serif,"Microsoft YaHei";font-size:1.1em;text-transform:uppercase;float:left;margin-left:-12em; width:9em;}
nav a{display:block;padding:.7em 1em;color:#000000;}
nav a:hover{/*background-color:#ff0000;*/background-color:#0181EB;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;-moz-transition:color .2s linear;}
.post{padding:1em 0em;}
h1{font-family:Georgia,serif,"Microsoft YaHei";font-size:2em;color:#000;}
h2{font-family:Georgia,serif,"Microsoft YaHei";font-size:1.6em;color:#111;}
h3{font-family:Georgia,serif,"Microsoft YaHei";font-size:1.2em;color:#222;}
h4{font-family:Georgia,serif,"Microsoft YaHei";font-size:1em;color:#333;}
#dsq-global-toolbar,#dsq-like-tooltip,#dsq-sort-by,.dsq-comment-moderate{display:none;}
.dsq-comment-header{border: none !important;background:none !important;}
#dsq-footer{display:none;}
li[id*='dsq-like-']{display: none;} 
.gist{font-size: 12px;line-height:1.6;}
/* 正常PC液晶屏样式 */
 
/* iPad 及以下，以及所有小于（不等于）960宽度的平板电脑 */
@media only screen and (max-width: 959px) {}
 
/* 仅iPad 竖版，以及所有小于（不等于）标准960宽度的平板电脑的竖版 */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#main nav {
		float:none;margin-left:-1em;width:115%;margin-top:1em;margin-bottom:1em;
	}
	#main nav span {
		display:inline-block;_display:inline;_zoom:1;
	}
	.content {
		border-top:1px solid #ccc;
	}
}
 
/* iPhone 及以下 */
@media only screen and (max-width: 767px) {

	 #container {
		width:100%;padding:0 0;
	 }
	 header {
		margin-left:1em;margin-right:1em;
	 }
	 .content{
		margin-left:1em;margin-right:1em;
		border-top:1px solid #ccc;
	 }
	 #main nav {
		float:none;margin:1em auto;width:100%;
	 }
	 #main nav a {
		display:inline-block;
	 }
}
 
/* 仅iPhone 横版，包括某些平板电脑的竖版 */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
 
/* 仅iphone4 竖版 */
@media only screen and (max-width: 479px) {}
