
/*for all but opera & firefox2.0*/
.yui-widget.yui-overlay{background:rgba(128, 128, 128, 0.2);*background:#e9e9e9;font-size:12px;font-family:Tahoma;}
/*hack for Opera*/
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0){
	head~body .yui-widget.yui-overlay{background:#e9e9e9;}
}
/*hack for firefox2.0*/
.yui-widget.yui-overlay, x:-moz-any-link {background:#e9e9e9;}
/*hack for firefox3.0 & upper*/
.yui-widget.yui-overlay, x:-moz-any-link x:default {background:rgba(128, 128, 128, 0.2);}

.yui-widget-stdmod {position:relative;top:-3px;left:-3px;background:#f0faff;border:1px solid #b2d1ff;}
.yui-overlay-content .yui-widget-hd {border:0px;border-bottom:1px solid #b2d1ff;background:url('http://img07.taobaocdn.com/tps/i7/T1yP4pXm8CXXXXXXXX-1-25.gif') repeat-x;text-align:left;font-weight:bold;color:black;font-size:14px;height:14px;padding:5px 0 6px 10px;_padding-bottom:0px;}
.yui-overlay-content .yui-widget-hd .close {margin-right:5px;}
.yui-overlay-content .yui-widget-bd {border:0px;height:auto;padding-left:20px;padding-top:10px;padding-right:20px;padding-bottom:10px;}
.yui-overlay-content .yui-widget-ft {border:0px;padding-right:9px;padding-bottom:11px;}

.yui-overlay-content .yui-widget-hd .title{float:left;}
.yui-overlay-content .yui-widget-hd .close{float:right;cursor:mouse}


