html{background:#fff}
body{font:normal 12px/1.6em 'tahoma','simsun' ;background-color:#f4f4f4;}
a{color:#007ac0;text-decoration:none;}
a:hover{text-decoration:underline;}
#doc{width:960px;margin:0 auto;}
.main-mod-bd:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}* html .main-mod-bd{height:1%;}
.main-mod-bd{zoom:1;}
#hd{height:100px;}
#hd h1{width:300px;height:100px;overflow:hidden;text-indent: -100em;background:url('../images/cubeelogo.gif') no-repeat;margin:10px;float:left;}
.navv{width:570px;;float:right;margin-top:26px;}
.navv ul{padding:10px 20px;}
.navv li a{text-shadow:1px 1px 1px #ffffff;font-weight:bold;color:#000;font-size:14px;}
.navv li{display:inline-block;*display:inline;*zoom:1;padding:0 6px;}
#bd{padding:10px;clear:both;}
.body-wrap{background:url('../images/body-wrap-bg.gif');padding:6px;}
#bd .bd-container{border:1px solid #b7b7b7; background-color:#fbfbfb;}
.left-sider{float:left;width:220px;position:relative;}
.main-mod-hd{border-bottom:1px solid #B7B7B7;background-color:#e8e8e8;position:relative}
.main-mod-hd h2{padding:12px 20px;font:400 24px/1em '微软雅黑','arial','simsun' ;color:#894e22;font-variant:small-caps}
.main-mod-hd .crumb{position:absolute;right:2em;top:16px;}
.crumb a,.crumb span{margin:0 4px;}
.main{float:right;width:100%;margin-left:-25em;}
.main .main-wrap{position:relative;margin-left:220px;background-color:#fff;border-left:1px solid #b7b7b7;min-height:400px;padding:10px;overflow:hidden;zoom:1;}
.siderbar{padding:10px;}
#ft{margin:20px 10px 0;padding:10px;color:#878787;border-top:1px solid #b7b7b7;text-align:right;}
.tit{font:700 18px/1.6em '微软雅黑','arial';color:#393939;padding:2px 0 0;border-bottom:1px solid #ccc;margin-bottom:20px;}
.navlist h4{display:block;height:30px;border:1px solid #d4d4d4;background-color:#f4f4f4;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;font-size:12px;font-weight:bold;line-height:30px;padding-left:8px;color:#595959}
.author{display:block;line-height:22px;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border:1px solid #d4d4d4;height:22px;padding:0 10px;color:#8a8a8a;margin-bottom:20px;}
.navlist li{padding:6px 10px;border-bottom:1px dotted #d4d4d4;_zoom:1;}
.navgroup{padding-bottom:20px;}

h2{display:block;border-bottom:2px solid #ccc;font-size:12px;}
.main h2{border-bottom-color:#559D02}
h2 strong{display:block;display:inline-block;*display:inline;zoom:1;padding:3px 10px;background-color:#e3ffa7;border:1px solid #559d02;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;margin-bottom:-1px;color:#559d02;font-weight:bold;}
.demo{text-align:center;}
.button{display:block;display:inline-block;*display:inline;zoom:1;-moz-border-radius: 3px;-khtml-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border:2px solid #ff7a0e;color:#ff7a0e;background-color:#fffcb6;font-weight:bold;padding:2px 16px;margin:10px;}
.dec{padding:10px 20px;line-height:1.8em;margin-left:20px;color:#555}
.dec li{list-style:circle}
.dec dt{margin-top:10px;font-weight:bold;font-size:14px;color:#4c8d00;padding-bottom:10px;float:left;clear:left;}
.dec dd dt{margin-top:0px;font-size:12px;color:#333;float:left;/*width:5em;*/text-align:right;}
.dec dd dd{float:left;padding-left:10px;width:540px;border-left:3px solid #d4d4d4;margin-bottom:5px;}
.dec dd dd p b{font-size:13px;font-family:Courier New;font-weight:bold;color:blue;padding-right:12px;}
.loading {text-align:center;margin-top:10px;margin-bottom:10px;}
